:root {
  --primary: #22252d;
  --secondary: #2a2d37;
  --bg: white;
}
* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  line-height: 1.5rem;
  background-color: var(--bg);
  transition: background 0.4s linear;
}

h1 {
  margin-bottom: 4rem;
  text-align: center;
  font-size: 40px;
  color: var(--primary);
}

.text-sm {
  opacity: 0.8;
  margin-bottom: 1rem;
}

.text-lg {
  font-weight: bolder;
  font-size: 3rem;
}

.container {
  padding: 30px;
  margin: 0 auto;
  max-width: 40rem;
}

.calculator {
  background-color: var(--primary);
  box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0.158);
  color: var(--bg);
  border-radius: 20px;
  width: 100%;
  position: relative;
}

.calculator__display {
  height: 20rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.calculator__body {
  background-color: var(--secondary);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 2rem;
  border-radius: 2rem;
}
.calculator__body button {
  background-color: var(--primary);
  border: none;
  cursor: pointer;
  padding: 1rem;
  font-weight: bold;
  color: var(--bg);
}
.calculator__body .calculator__operation {
  color: #48aa9f;
}

.calculator span {
  position: absolute;
  top: 30px;

  background-color: var(--bg);
  color: var(--primary);
  border-radius: 50%;
  padding: 1rem;
  cursor: pointer;
}

.day {
  left: 60%;
}

.night {
  left: 40%;
}

footer {
  background-color: var(--primary);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

footer a {
  display: block;
  text-decoration: none;
  color: var(--bg);
  font-weight: 700;
}

footer a:hover {
  text-decoration: underline;
}
